@font-face{
	font-family: 'Bebas Neue';
	src: url('BebasNeue-Regular.ttf');
}


@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karantina:wght@300&display=swap');

body{ 
	background-color:#FFF0F5;
	background-color:white;
	margin: 0% 2%;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
  	text-align: center;
}

header{
	position:relative;
	text-align:center;
}

nav.main{
	top:0;
	z-index:99;
	text-align: center;
	position:sticky;
	margin: 1% auto;
}


a.simple:hover{
	color:gray;
}

a.simple {
  display:inline-block;
  text-decoration:none;
  color:black;
  font-family: "Segoe UI", 'Montserrat', sans-serif;
  font-family: "Bebas Neue";
  font-family: "Antonio";
  font-family: "Karantina";
  text-transform: uppercase;
  font-size: 33px;
  padding:0 5px 0 5px;
  line-height: 100%;
  margin:0px 50px 10px 50px;
  overflow: hidden;
}

a.simple span{
  display: inline-block;
  position:relative;
  transition: transform 500ms;
  -webkit-transition: -webkit-transform 500ms;
  -moz-transition: transform 500ms;
}

a.simple span:after{
  content: attr(data-hover);
  position: absolute;
  top: -30px;
  left:0;
  transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	-webkit-transform: translate3d(0,0,0);
}

a.simple:hover span,
a.simple:focus span {
	transform: translateY(30px);
  -webkit-transform: translateY(30px);
  -moz-transform: translateY(30px);
}
a.active span, a.active{
	color:red;
	border-radius:5px;
	color:#fc0;

	text-shadow:0.5px 0.5px 1px gray;
}

#beatle{
 	color:#222;
 	font-family: "Segoe UI","Lato",'Montserrat', sans-serif;
 	text-transform: uppercase;
 	letter-spacing: 3px;
 	font-size:30px;
 	font-weight: 400;
 	margin-top:1%;
 	text-align: center;
}

#beatle:hover{
	opacity:0.6;
}

.seethrough{
	opacity:0.4;
	font-family: "Segoe UI", sans-serif;

}

.content{
	min-height:95vh;
	/*margin-bottom:25px;*/
	margin-bottom:0;
}
.content:after{
	content:"";
	display:block;
	height:2.5em;
}


.uselessborder{
	position:absolute;
	top:60%;
	/*left:50%;*/
	/*width:100vw;*/
	background-color: #222;
	line-height:20%;
	display:block;
	text-align:center;
	/*line-height:20px;*/
	border-bottom:solid #222 6px;
	margin:0 auto;
}

img.lhp{
	margin:2px;
	padding:0px;
	opacity:0.9;
	border: 10px solid #DCD348;
}
img.mov{
	margin: 2%;
	opacity:0.9;
	padding:0;
	display:inline-block;
}
img.mov:hover{
	opacity:1;
	padding:0;
	cursor:pointer;
}

section{
	text-align:center;
}

p.smallersec{
	text-align:center;
	display: flex;
  	justify-content: space-around;
   	text-align: justify;
  	text-justify: inter-word;
  	margin:0 auto;
  	font-size:100%;
  	font-family: "Segoe UI", sans-serif;
}
#sign{
	opacity:0.6;
	font-weight:700;
	color:grey;
	font-style:italic;
	/*text-shadow: grey 1px 1px;*/
	font-size:100%;
	float:right;
	display:block;
	font-family: "Oswald","Segoe UI", sans-serif;
	margin:2px 32%;
}

section.photogallery{
	display:block;
	text-align:center;
	margin:0 auto;
	z-index:0;
	clear:both;
}


/*Hamburger navigation*/
.navbar{
	background-color:white;
}
a.navbar-brand, a.nav-link{
	color:#DCD348;
	border:none;
}
a.navbar-brand{
	left:10%;
}
a.nav-link{
	font-weight:100;
}
a.act{
	color:white;
	text-decoration: line-through white;
}

.animated-icon1{
	border:none;
	width: 30px;
	height: 20px;
	position: relative;
	margin: 0px;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	cursor: pointer;
}

.animated-icon1 span{
	display: block;
	position: absolute;
	height: 3px;
	width: 100%;
	border-radius: 9px;
	opacity: 1;
	left: 0;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
}

.animated-icon1 span {
	background: #DCD348;
	background:#fc0;
	background: black;
	border:none;
}

.animated-icon1 span:nth-child(1) {
top: 0px;
}

.animated-icon1 span:nth-child(2) {
top: 10px;
}

.animated-icon1 span:nth-child(3) {
top: 20px;
}

.animated-icon1.open span:nth-child(1) {
top: 11px;
-webkit-transform: rotate(135deg);
-moz-transform: rotate(135deg);
-o-transform: rotate(135deg);
transform: rotate(135deg);
}

.animated-icon1.open span:nth-child(2) {
opacity: 0;
left: -60px;
}

.animated-icon1.open span:nth-child(3) {
top: 11px;
-webkit-transform: rotate(-135deg);
-moz-transform: rotate(-135deg);
-o-transform: rotate(-135deg);
transform: rotate(-135deg);
}

body { 
   opacity: 0;
   transition: opacity 1s;
}

/*the roulette*/
.lpic{
	display:none;
}
section.list{
	margin: 2%;
	text-align: center;
}
section.list span{
	display:block;
	text-align:center;
}
.ltitle{
	display:none;
	/*font-family:"Segoe UI", sans-serif;*/
	font-family:Antonio;
	font-size:150%;
	text-transform: uppercase;
	margin:2px;
	padding:2px;
	background:#222;
	color:white;
	width:40%;
	cursor:pointer;
	margin:2px auto 2px auto;
	cursor:pointer;
}

.randomovie1 i.fa-crown, .randomovie2 i.fa-crown{
	font-size:1500%;
	text-align:center;
	/*display:block;*/
	color:#F1D763;
	color:#fc0;
	text-shadow:grey 2px 2px;
	width:20%;
	margin: 5%;
	cursor:pointer;
}
.randomovie1 i.fa-crown:hover, .randomovie2 i.fa-crown:hover{
	text-shadow:none;
	background: -webkit-repeating-linear-gradient(90deg, black, black 5px, white 5px, white 10px);
  	-webkit-background-clip: text;
 	-webkit-text-fill-color: transparent;
}
.randomovie2 i.fa-crown{
	margin:0;
	font-size:400%;
}
.randomovie1, .randomovie2{
	text-align:center;
	/*display:block;*/
	margin:1% auto 1% auto;
}
.randomovie2{
	display:none;
}
.oplem{
	display:block;
}
.openph{
	display:block;
	width:16%;
	/*height:47%;*/
	border:solid 2% black;
	/*position:absolute;*/
	top:35%;
	/*top:40%;*/
	left:42%;
	/*margin:0 auto;*/
	cursor:pointer;
}
.openph:hover{
	opacity:0.8;
}

.openli{
	display:block;
	/*position:absolute;*/
	top:77%;
	background:none;
	/*color:#F1D763;*/
	color:#222;
	width:20%;
	left:40%;
	font-family: "Segoe UI","Lato",'Montserrat', sans-serif;
	font-family:"Bebas Neue";
 	text-transform: uppercase;
 	/*text-shadow:grey 0.5px 0.5px;*/
 	 letter-spacing: 3px;
	/*margin:0 auto;*/
	z-index:99;
}



.closed{
	visibility: hidden;
	display:none;
}

h1 #title {
	font-family: 'Antonio', sans-serif;
}
.decline {
	height:1px;
	position:absolute;
	background-color: #222;
	line-height:20%;
	display:block;
	text-align:center;
	border-bottom:solid #222 1px;
	margin:0 auto;
}
.linksbolder {
	color:black;
	background-color:gray;
	background-color:#F3DE8A;
	background-color: #f2f2f2;
	display:inline-block;
	width:499px;
	font-family:'Bebas Neue';
	font-size:50px;
	/*padding: 1%;*/
	margin: 1%;
	height:200px;
	box-shadow:1px 1px gray;
}
#movieoftheweek{
	margin-bottom:2%;
}
#movieoftheweek img:hover{
	cursor:pointer;
}
.pictext{
	display:inline;
	position:absolute;
	top:97.5%;
	left: 50%;
	/*text-transform: uppercase;*/
	font-family:"Bebas Neue";
	font-family: Antonio;
	color: white;
	font-size:20px;
	opacity:0.7;
	text-shadow: 1px 1px gray;
  	transform: translate(-50%, -50%);
	text-align: center;
}

.moviefilters{
	z-index:0;
	text-align:center;
	margin: 0 auto;
	margin-top:1%;
	margin-bottom:4%;
	background-color:pink;
	background-color: #F3DE8A;
	background-color: #f2f2f2;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	/*box-shadow:1px 1px 1px gray;*/
	position:static;
}

.photogallery{
	z-index:0;
}
.moviefilters div{
	display:inline-block;
	margin:1%;
	background-color:white;
	font-size:20px;
	text-align:center;
	font-family: 'Bebas Neue';
}
.moviefilters div select{
	font-family: "Segoe UI";
	font-size:15px;
	border:none;
	display:block;
	margin:0 auto;
	/*padding:;*/
	text-align:center;
	width:7vw;
	border-radius:5px;
}
.moviefilters div:hover{
	background-color:#C02323;
	background-color:#fc0;
	color:black;
}
.moviefilters div select:hover{
	background-color:white;
}
.moviefilters div select:active .moviefilters div select:visited{
	/*background-color: red;*/
	border:none;
}

#okbutton{
	width:5vw;
	font-family:'Bebas Neue';
	font-size:20px;
	margin:0 auto;
	border: none;
	text-align:center;
	color:#fc0;
	border-radius:5px;
	display:inline;
}
#okbutton:hover{
	cursor:pointer;
	opacity:0.9;
	color:black;
	background-color:#fc0;

}
#filterSecText{
	font-family: 'Bebas Neue';
	font-size:20px;

	float:left;
}


.head{
	top:0;
	text-align: center;
	background-color:white;
	margin: 0% auto;
}
#offlineUser{
	margin:5% auto;
}
input[type=text], input[type=password], input[type=date]{
  width: 100%;
  padding: 3px 10px;
  margin: 2px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  text-align:left;
  font-family:'Segoe UI';
	font-size:15px;
}
input[type=image]{
	display:block;
	margin:1% auto;
	margin-bottom:2%;
}
input[type=image]:hover{
	cursor:pointer;
	opacity:0.9;
}

input[type=submit], #registerButton, #loginButton {
  /*width: 50%;*/
  background-color: #F3DE8A;
  color: black;
  padding: 14px 20px;
  /*margin: 8px 0;*/
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}
#saveButton{
	float:right;
	width:10%;
}

#registerButton, #loginButton{
	border-radius: 5px;
  background-color: #f2f2f2;
  display:block;
  /*text-align: left;*/
  font-family:'Bebas Neue';
  font-size:30px;
  clear:both;

}

input[type=submit]:hover, #registerButton:hover, #loginButton:hover {
  background-color: #C02323;
  background-color:#fc0;
}

#profileForm{
	border-radius: 5px;
	/*background-color: #f2f2f2;*/
	display:inline-block;
	text-align: left;
	font-family:'Bebas Neue';
	/*font-family:'Segoe UI';*/
	font-size:20px;
	/*font-family:'Antonio';*/
	  /*top:10%;*/
	margin:0 auto;
}
#profileForm input[type=text], #profileForm input[type=password], #profileForm input[type=date]{
	width:50%;
	display:block;
	margin:1% auto;
	font-family:'Segoe UI';
	font-size:15px;
}
#profileForm label{
	margin:0 auto;
	display:block;
	text-align:center;
}

#registerForm, #loginForm{
  border-radius: 5px;
  background-color: #f2f2f2;
  display:inline-block;
  text-align: left;
  font-family:'Bebas Neue';
  font-size:20px;
  margin:0 auto;
}


#registerForm label{
	margin:0 auto;
}
#loginForm label{
	margin:0 auto;
}
#registerButton, #loginButton{
	margin:1% auto;
}

.dontshow{
	position:fixed;
	visibility:hidden;
	display:none;
}
.right, .right1{
	float:right;
}
.right1:hover, .left1:hover{
	cursor:pointer;
}
.left, .left1{
	float:left;
}
.inactiveContainer{
	cursor: default;
    pointer-events: none;
    z-index:0;
}
.activeContainer{
	position:fixed;
	display:block;
	z-index:100;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
	background-color: #f2f2f2;
	margin:1%;
	padding:0;
	border: 2px solid black;
}
.movieInfo{

	font-family:'Antonio';
	font-family: "Segoe UI";
	font-size: 15px;
	/*margin:0 5%;*/
	text-align:center;

}
.movieInfo p{
	display:inline;
	/*background-color:white;*/
}
#movieTitle{
	font-size:50px;
	font-family: 'Antonio';
	display:inline;
	text-shadow: 2px 2px 2px #e6e2d6;
	/*margin:0.5%;*/
}
#movieSummary{
	display:block;
	text-align:center;
	display: flex;
  	justify-content: space-around;
   	text-align: justify;
  	text-justify: inter-word;
  	/*margin:0 auto;*/
  	margin:0 2% 1% 0;
  	font-size:100%;
  	font-family: "Segoe UI", sans-serif;
}
.activeContainer img{
	float:left;
}
.fa-times{
	position:absolute;
	top:1%;

	left:95%;
	color:black;

	font-size:30px;
}
.smallersec .fas{
	color:black;
	text-align:right;
}
#userStateOffline, #userStateOnline {
	left:90%;
	position:absolute;
	top:25%;
}
#userStateOffline a, #userStateOnline a{
	color: #C02323;
	color: red;
	color:#fc0;
	font-style: italic;
	font-family: "Segoe UI";
}
#userStateOffline a:hover, #userStateOnline a:hover{
	color:black;
	font-style:normal;
	text-decoration: none;
}
#userStateOffline .offlineComment { display: none; }
#userStateOffline:hover .offlineTitle { display: none; }
#userStateOffline:hover .offlineComment { 
	display: inline-block; 
	left:85%;
}

#userStateOnline .onlineComment { display: none; }
#userStateOnline:hover .onlineTitle { display: none; }
#userStateOnline:hover .onlineComment { 
	display: inline-block; 
	left:85%;
}

#contacts{
	font-size:30px;
	margin:0 auto;
	text-align:center;
}
#contacts a{
	margin:1%;
	color:#C02323;
	color:#fc0;
}
#contacts a:hover{
	text-decoration: none;
	color:black;
	font-size:32px;
}


.star-rating {
  display:flex;
  flex-direction: row-reverse;
  font-size:50px;
  justify-content:space-around;
  padding:0 .2em;
  text-align:center;
  margin:0 auto;
  margin-right:3%;
}

.star-rating input {
  display:none;
}

.star-rating label {
  color:#ccc;
  cursor:pointer;
}

.star-rating :checked ~ label {
  color:#f90;
  /*color: red;*/
}

.star-rating label:hover,
.star-rating label:hover ~ label {
  color:#fc0;
  /*color: red;*/
}
#movieYourVote{
	display:block;
	margin:2% auto;
	text-align:center;
}

#movieVoteAverage, #movieVoteCount{
	text-align:left;
	margin-left:1%;
	display:block;
	margin-bottom:0;
	padding-bottom:0;
	padding-top:0;
}
#movieVoteAverage{
	font-size:35px;
	/*width:20px;*/
	/*text-align:center;*/
}
#movieGenre{
	margin:0 2%;
	text-align:right;
	text-transform: uppercase;
	/*text-decoration: italic;*/
	font-weight: 600;
	/*border:1px solid black;*/
	display:block;
}

.movieInfo p:hover{
	opacity:0.7;
}
#tmdbInfo {
	margin:0 0 0 65%;
	display:block;
	text-align:center;
	/*border: 2px solid black;*/
}

#uncheckedWatchlist, #checkedWatchlist, #checkedSeen, #uncheckedSeen{
	font-size:40px;
	color:#ccc;
	/*-webkit-text-stroke: 0.4px 1px black;*/
	text-shadow:1px 1px 1px black;
	/*color:	#e6e2d6;*/
	text-align:left;
	margin:2%;
}
#uncheckedWatchlist:hover, #checkedWatchlist:hover, #checkedSeen:hover, #uncheckedSeen:hover{
	cursor:pointer;
	color:#fc0;
}
#checkedSeen, #checkedWatchlist{
	color:#f90;
}

body{
	background-color: #F8F8F2;
	padding:0;
	margin:0;
}
header{
	width:100vw;
	background-color: #F8F8F2;
	margin:0 0 0 0;
	padding:0 0 0 0;
}

.mainContent{
	margin:1%;
	background-color: #F8F8F2;
}

footer{
	position:static;
  	top:95%;
  	width: 100%;
  	height: 2.5rem;
  	font-family: 'Segoe UI';
  	font-family: 'Bebas Neue';
	text-transform: uppercase;
 	letter-spacing: 3px;
 	font-weight: 400;
}
#footerInfo2{
	font-family:'Bebas Neue';
	font-weight:700;
	text-transform: uppercase;
 	 letter-spacing: 3px;
 	font-weight: 400;
 	text-align: center;
 	display:inline;
}
#creatorNames{
	font-family:'Segoe UI';
	font-weight:700;
 	text-transform: none;
 	font-weight: 400;
	display:inline;
	margin:0;
	padding:0;
}
.addcont{

}

.movCheckers{
	font-size:10px;
	position:absolute;
	top:2%;
}
.movCheckers p i{
	font-size:30px;
	/*position:absolute;*/
	top:2%;
	display:inline;
	margin:0;
	padding:0;
}
#aboutPageImg{
	display:block;
	/*width:10vw;*/
}
#aboutPageImg img{
	display:inline;
	width:12vw;
	margin:0 0.5% 0 0.5%;
}
#aboutPageImg img:hover{
	opacity:0.8;
	border:15px solid #fc0;
	padding:0;
}
.imgbig{
	margin:0;
	margin-bottom:0;
	padding:0;
}

#changeUserStateButton{
	left:3%;
	position:absolute;
	top:95%;
	color:black;
	/*font-style: italic;*/
	background-color:#fc0;
	/*font-weight:700;*/
	border-radius:5px;
	border:none;
	padding:0.2%;
	/*font-family: "Segoe UI";*/
	font-family: 'Bebas Neue';
}
#changeUserStateButton:hover {
	cursor:pointer;
	background-color:black;
	color:white;
}
a.hamNav{
	color:black;
	padding-top:1%;
	padding-bottom:1%;
	margin:0;
}
.navbar{
	border-bottom: 1px solid black;
}

.nav-item{
	margin:0;
	padding:0;
}
.active1{
	background-color:#fc0;
	/*background-color: black;*/

	/*color:white;*/
}
.active1 a{
	/*color:white;*/
}
.tablet a{
	font-size:70px;
	margin:2%;
	margin-bottom:1%;
}
.tablet{
	display:none;
}
.headcontainerSmall, .hi1, .mainContent, #movieoftheweek{
	/*margin:0 auto;*/
	padding-top:0;
	margin-top:0;
}
.navbar{
	padding-bottom:0;
	margin-bottom:0;
}

@media screen and (max-width: 480px) {
  .topnav a:not(:first-child) {display: none;}
	a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 480px) {
  .topnav.r {position: relative;}
  .topnav a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav .responsive a span {
    float: none;
    display: block;
    text-align: left;
  }
}

@media screen and (max-width:768px){
	/*.hi{
  		display:none;
  	}*/
  	.photosec{
  		display:none;
  	}
  	/*.navbar{
  		display:fixed;
  	}*/
  	.star-rating{
  		font-size:30px;
  	}
  	.activeContainer span img{
  		display:block;
  		margin:2px auto;
  	}
  	nav.main{
  		display:none;
  	}
  	.homem{
  		display:static;
  	}
  	#registerbutton, #loginbutton{
  		/*position: absolute;*/
		/*margin-top: %;*/
		/*transform: translate(0, -50%);*/
		background-color:#fc0;
  	}
  	#userStateOffline, #userStateOnline{
  		display:none;
  	}
  	footer{
  		margin-left:1%;
  		margin-right:1%;
  	}
  	nav.tablet{
  		display:none;
  	}
  	#okbutton{
  		position:absolute;
		left:83%;
		width:15vw;
		height:50px;
		margin-bottom:0;
		background-color:#fc0;
		color:black;
  	}

  	#filterSecText{
  		left:2%;
		display:inline-block;
		padding:0;
		margin:2% auto;
		position:absolute;
  	}
  	nav.navbar{
  		display:fixed;
  	}
}

@media screen and (max-width:1025px){
	 #saveButton{
  		width:20%;
  		/*float:none;*/
  		/*color:white;*/
  		/*background-color:black;*/
  	}
	.hi {
		display:none;
	}
	.headcontainer{
		display:none;
	}
	.main{
		display:none;
	}
	#userStateOffline, #userStateOnline{
		display:none;
	}
	.head, #mainhead{
		display:none;
	}
	/*nav.main a{
		font-size:40px;
	}*/
	/*nav.main a span{
		display:none;
	}*/
	/*.navbar{
		display:none;
	}
	nav.main{
		display:fixed;
	}*/
}
@media screen and (min-width:1026px){
	.tablet{
		display:none;
	}
	.hi1{
		display:none;
	}
	.hi {
		display:block;
	}
	.photogallery{
		position:absolute;
		left:13%;
	}
	.navbar{
		display:none;
	}
	nav.main{
		/*display:fixed;*/
	}
}
@media all and (max-width:992px){
	.randomovie1 i.fa-crown{
		width:100%;
		font-size:2000%;
		/*left:2px;*/
		margin:0 auto;
	}
	.openph{
		display:block;
		width:32%;
		top:37%;
		left:34%;
	}
	.openli{
		width:100%;
		left:0;
		top:85%;
	}
}
}
@media all and (max-width:768px){
	.openph{
		display:block;
		width:70%;
		left:15%;
		top: 45%;
	}
	.openli{
		font-weight:800;
		margin:0 auto;
		top:40%;
		left:0;
		text-align:0;
		text-shadow:white 2px 2px;
		width:100%;
	}
}
@media all and (max-width:576px){
	.openph{
		width:100%;
		left:0;
	}
}
